### you basically need to copy-paste these CHANGED private settings into
### app (EmailSenderApplication) -> edit -> environment variables (add via modify options)
### add them via ;
MAIL_FROM=SENDER(MAIL_DOMAIN)
MAIL_SMTP_USERNAME=YOUR_ID(SAY_FROM_UNISENDER)
MAIL_SMTP_PASSWORD=YOUR_PASSWORD(SAY_TOKEN_FROM_UNISENDER)

KAFKA_BOOTSTRAP_SERVERS=YOUR_KAFKA_DOCKER_BOOTSTRAP_SERVERS